/* styles.css */

:root {
    /* Variables CSS personalizadas si es necesario */
}

body {
    margin: 0;
    padding: 20px; /* Agrega relleno para un mejor espaciado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./assets/music.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    color: #ffffff; /* Color de texto blanco para todo el cuerpo */
    font-family: Arial, sans-serif; /* Fuente de texto predeterminada */
}

.container {
    text-align: center;
    padding: 20px; /* Añade relleno al contenedor principal */
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

button {
    /* Estilos de botón existentes */
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff; /* Color de fondo azul */
    color: #ffffff; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el mouse */
}

@media (min-width: 768px) {
    /* Ajustar estilos para tabletas y pantallas más grandes */
    h1 {
        font-size: 3em;
    }
    
    p {
        font-size: 1.2em;
    }

    button {
        font-size: 1.1em;
    }
}

@media (min-width: 1024px) {
    /* Ajustar estilos para pantallas de escritorio más grandes */
    h1 {
        font-size: 3.5em;
    }
    
    p {
        font-size: 1.3em;
    }

    button {
        font-size: 1.2em;
    }
}
